<h1>Here are a few of my favorite cities</h1>

<ul>
  <% faves.forEach(fave=>{ %>
    <li><%= fave.name %>, <%= fave.state %></li>
    <form method="POST" action="/remove/?_method=DELETE">
      <input type="hidden" name="id" value="<%= fave.id %>">
      <input type="submit" value="Delete <%= fave.name %> from favorites">
    </form>
  <% }) %>
</ul>

<div id='map' style='width: 90%; height: 30em;'></div>

<script>
  mapboxgl.accessToken = '<%= mapkey %>'
  let map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10',
    center: [-96, 40.8],
    zoom: 3
  })

  map.on('load', function(){
    map.addLayer({
      "id": "points",
      "type": "symbol",
      "source": {
        "type": "geojson",
        "data": {
          "type": "FeatureCollection",
          "features": [<%- markers %>]
        }
      },
      "layout": {
        "icon-image": "{icon}-15",
        "text-field": "{title}",
        "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
        "text-offset": [0, 0.6],
        "text-anchor": "top"
      }
    })
  })

</script>